<!-- 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        const hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d095a3d4dfe9c1c4e8c65d3fe99b2589";
        hm.async = true;
        hm.crossorigin = "anonymous"

        const s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- Google广告 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2548953017344039" crossorigin="anonymous"></script>

<!-- 页面优化 -->
<script>
    function ntopicTask() {
        var ele = document.querySelector(".section-service-w");
        if(ele) {
            ele.style.display = "none";
            ele.parentNode.removeChild(ele);
        }
    }

    (function() {
         window.setInterval("ntopicTask()", 1000);
    })();
</script>
