body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.nt-body {
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
}

.nt-body-content {
    flex: 1;
}

.nt-navbar {
    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
}

.nt-navbar-logo {
    width: 32px;
    height: 32px;
}

.nt-navbar-avatar {
    width: 20px;
    height: 20px;
}

.nt-center {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: center;
}

.nt-uform-box {
    max-width: 420px;
    min-width: 400px;
}

.nt-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.nt-captcha-box {
    max-width: 355px;
    min-width: 335px;
}

.nt-captcha-input {
    max-width: 230px;
    min-width: 230px;
}

.nt-captcha-img {
    height: 50px;
    width: 95px;
    cursor: pointer;
    border: 1px solid rgba(50, 58, 69, .2);
    border-radius: 5px;
    margin-right: 7px;
}
