<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">
	<property name="logPath" value="logs" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/atom-mobile-server.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>atom-mobile-server.log.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%X{LogID}] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="LOGGER" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>
